name: Build Docker Image
on:
  release:
    types: [published]

jobs:
  ImageBuild:
    name: Build Code-Server-Operator Custom Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Slack notification of build start
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_COLOR: "#4381de"
          SLACK_ICON: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          SLACK_TITLE: Start Code-Server-Operator image build
          SLACK_MESSAGE: |
            Run number : #${{ github.run_number }}

      - name: Check out
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: walnuts1018
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Get Tag from Release
        run: echo "ImageTag=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Build and push Docker images
        uses: docker/build-push-action@v5
        with:
          push: true
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/walnuts1018/code-server-operator:latest
            ghcr.io/walnuts1018/code-server-operator:${{ github.event.release.tag_name }}

  SucceessNotification:
    if: ${{ success() }}
    name: Send Success Message
    needs: [ImageBuild]
    runs-on: ubuntu-latest
    steps:
      - name: Send Message to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_ICON: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          SLACK_TITLE: Code-Server-Operator image build succeeded
          SLACK_MESSAGE: |
            Image: Code-Server-Operator
            Run number : #${{ github.run_number }}

  FailureAlert:
    if: ${{ failure() }}
    name: Notify failure
    needs: [ImageBuild]
    runs-on: ubuntu-latest
    steps:
      - name: Send Failure Alert to Slack
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_USERNAME: GitHub Actions
          SLACK_ICON: "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
          SLACK_TITLE: Code-Server-Operator image build failed
          SLACK_COLOR: danger
          SLACK_MESSAGE: |
            Image: Code-Server-Operator
            Run number : #${{ github.run_number }}
