name: Release
on:
  release:
    types: [published]

jobs:
  image-build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ghcr.io
          username: walnuts1018
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
        with:
          version: latest

      - name: Get Tag from Release
        run: echo "ImageTag=${GITHUB_REF##*/}" >> $GITHUB_ENV

      - name: Build and push Docker images
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          push: true
          context: .
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: TARGETOS=linux
          tags: |
            ghcr.io/walnuts1018/code-server-operator:latest
            ghcr.io/walnuts1018/code-server-operator:${{ github.event.release.tag_name }}

  chart-release:
    runs-on: ubuntu-latest
    needs: image-build
    if: ${{ success() }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set chart version
        run: |
          sed --in-place "s/version-placeholder/${{ github.event.release.tag_name }}/g" charts/code-server-operator/Chart.yaml
          sed --in-place "s/version-placeholder/${{ github.event.release.tag_name }}/g" charts/code-server-operator/Chart.yaml
          sed --in-place "s/latest/${{ github.event.release.tag_name }}/g" charts/code-server-operator/values.yaml
          sed --in-place "s/repository: controller/repository: ghcr.io\/walnuts1018\/code-server-operator/g" charts/code-server-operator/values.yaml

      - name: Create release notes
        run: |
          # Helm Chart のリリースノートには、本体のリリースへのリンクを追加する
          tag_version=${GITHUB_REF##*/}
          cat <<EOF > ./charts/code-server-operator/RELEASE.md
          Helm chart [$tag_version](https://github.com/walnuts1018/code-server-operator/releases/tag/$tag_version)

          EOF

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.7.0
        with:
          config: cr.yaml
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
